@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-geist-sans: "system-ui", sans-serif;
	--font-geist-mono: "monospace", monospace;
	--font-epilogue: "Epilogue", sans-serif;
	--font-red_hat_display: "Red Hat Display", sans-serif;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-sans); /* Default to Geist Sans */
}
